.img-container {
    position: relative;
}

img {
 height:400px;    
}


.boxes-container {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    position: absolute;	
}

.box-container {
    position: absolute;
	pointer-events: none;
}

.box {
    border: 4px solid;
		pointer-events: none;
}

.label {
    color: white;
    height: 22px;
    line-height: 22px;
    position: absolute;
    top: -16px;
    white-space: nowrap;
    padding: 0 5px;
    font-size: 18px;
    pointer-events: none;
    display: block;
}


.msg {
    visibility: hidden;
    font-size: 14px;
}

.msg.show {
    visibility: visible;
}

.container{
	left: 50%;
	width: 100%;
    margin: 0px;
}

.video{
		padding: 0; margin: 0;
}


.button-stack {
	position: absolute;
    display: flex;
    flex-direction: column;
    gap: 10px; /* Space between buttons */
	text-align: center; 
	left: 50%;
	bottom: 50px;
	transform: translate(-50%, 0%);
	z-index: 999;
	width: 90%;
}


.button-stack button {
    width: 100%;
	
    font-size: 16px;
	height: 50px;
}

.video-container{
    top: 0px;
    overflow: hidden; 
}


html, body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100%; 
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* Consistent box-sizing for all elements */

}